extends layout

block content
  h1= title

  .row
    h4.col-md-2 Name
    p.col-md-10= registrantFirstName + ' ' + registrantLastName
  .row
    h4.col-md-2 Phone
    p.col-md-10= phoneNumber
  .row
    h4.col-md-2 Email
    p.col-md-10= emailAddress
  .row
    h4.col-md-2 Address
    p.col.md-10= address1
  .row
    -if (address2!= undefined)
      h4.col-md-2
      p.col.md-10= address2
  .row
    h4.col-md-2
    p.col-md-10= city + ', ' + state + ' ' + zipCode
  .row
    h4.col-md-2 Affiliation
    p.col-md-10= affiliation
  .row
    h4.col-md-2 Guest List
    .col-md-10
      each guest, i in guests
        p.col-md-10= 'Seat ' + (i + 1) + ': ' + guest.firstName + ' ' + guest.lastName
  .row
    h4.col-md-2 Payment method
    p.col-md-10= paymentMethod

  a(href="javascript:history.back()") Go Back




  form(name='registration-form' action='/banquet102018/orderConfirmed' method='post')
    input.hidden-input(type='textarea' name='registrantFirstName' value=registrantFirstName)
    input.hidden-input(type='textarea' name='registrantLastName' value=registrantLastName)
    input.hidden-input(type='tel' name='phoneNumber' value=phoneNumber )
    input.hidden-input(type='email' name='emailAddress' value=emailAddress)
    input.hidden-input(type='text' name='address1' value=address1)
    input.hidden-input(type='text' name='address2' value=address2)
    input.hidden-input(type='text' name='city' value=city)
    select.hidden-input(name='state' value=state)
    input.hidden-input(type='text' name='zipCode' value=zipCode)
    input.hidden-input(type='textarea' name='affiliation' value=affiliation)
    input.hidden-input(type='textarea' name='paymentMethod' value=paymentMethod)
  
        
    each guest, i in guests 
      input.hidden-input(type='textarea' name='guest_fname_' + (i+1) value=guest.firstName)  
      input.hidden-input(type='textarea' name='guest_lname_' + (i+1) value=guest.lastName)  

    input.hidden-input(type="hidden" name="numGuests")
    button.confirmOrderButton.btn.btn-primary(type='submit') Continue  
  
